<h1>Password#reset</h1>
<p>
<br/>
Hi <%= params[:user].email %>,
<br/>
Someone requested a reset of your password.
<br/>
If this was you, clink the link to reset your password. The link will expire in 15 minutes.
<br/>
<%= link_to "Reset Password", password_reset_edit_url(token: @token) %>
</p>
